
.restaurant {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
}
.sky {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.back {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #69c8e7;
    margin-top: 40px;
}